.mail{
    position: relative;

    display: flex;
    gap: 1.5em;
    align-items: center;

    min-width:85vw ;

    background-color: #fdfdfd;
    border: solid gainsboro 1px;
    opacity: 0.6;
}
.mail:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    opacity: 1;
    transition: 0.1s;
}
.mail .mail-name{
    position: absolute;
    left: 30vw;
    top: 0.7vh;
}
.mail .mail-date{
    position: absolute;
    right: 1em;
    top: 0.7vh;      
}
.mail .mail-subject {
margin-top: 0.7vh;
}
.mail button {

    background-color: #fdfdfd;
}
.mail button:hover{
    background-color: gainsboro;
    border-radius: 50%;
}