.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}
.show{
    display: block;
}
.none{
    display: none;
}
.read-mail {
    background-color:#f2f6fc;
}
.read-mail *{
    background-color:#f2f6fc;
}
.read-mail nav button{
    background-color:#f2f6fc; 
}