.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}
.star{
    color: gold;
}
.show{
    display: block;
}
.none{
    display: none;
}

.trash{
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
   
}
.trash a{
    pointer-events: none;
}
.trash *{
    width: 0;
    height: 0;
    opacity: 0;  
    pointer-events: none;
}
.trash:hover{
    width: 0;
    height: 0;
    opacity: 0; 
    pointer-events: none;
    
}

.trash .mail-date{
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none; 
}
.read-mail {
    background-color:#f2f6fc;
}
.read-mail *{
    background-color:#f2f6fc;
}
.read-mail nav button{
    background-color:#f2f6fc; 
}
.bold{
    font-weight: bold;
}
.compose-header{
    background-color:#f2f6fc ;
}