header {

    background: lightcyan;
    border-bottom: 2px solid white;

}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}



.toggle-nav {
    /* margin-inline-end: 10px; */
    
    padding: 10px;
    width: 75px;
    height: 75px;
    margin: 10px;
}

.toggle-nav i {
    font-size: 1.1rem;
}

.toggle-nav:hover {
    background-color: rgba(136, 121, 121, 0.417);
    border-radius: 50%;
}

.mail-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-keep {
    width: 48px;
    height: 48px;
}