.Menu-options {
    min-width: 100px;
    background-color: #f6f8fc;
    flex-grow: 1;

}

.list-container {
    display: flex;
    flex-direction: column;
    margin-block: 1em;
    gap: 1em;

}


.list-container *{
    margin-left: 0.5em;
}
.list-container span{
    padding: 1em;

}


.list-container span button {

    all: unset;

}

.list-container span i {
    margin-inline: 1em;
    

}

.list-container span:hover {
    background-color:gainsboro;
}
.list-container .new-mail{
        background-color: #c2e7ff;
        border-radius: 10%;
        max-width: 10vw;
}
.new-mail{
    justify-content: start;
}
 .list-container .new-mail:hover{
    background-color: #c2e7ff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* .mail-data{
   position: absolute;
   right: 0;
   bottom: 0;
   opacity: 1;
} */

.hide-nav{
    display: none;
}

@media (width <= 600px) {
    .Menu-options {
      display: none;
    }
    

  
}